.partners {
  position: relative;
  padding: 8.8rem 0 12rem;

  .container {
    position: relative;
  }


  &__left-decor {
    position: absolute;
    top: -16rem;
    left: -34rem;
    z-index: 3;
    opacity: 0.5;

    @media (max-width: $mobile) {
      top: 0rem;
      left: -15rem;
      width: 37.5rem;
    }
  }

  &__right-decor {
    position: absolute;
    top: -16rem;
    right: -34rem;
    z-index: 3;

    @media (max-width: $tablet) {
      top: -14rem;
      right: -20rem;
    }

    @media (max-width: $mobile) {
      right: -15rem;
      width: 37.5rem;
    }
  }

  &__logos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 4;
    gap: 17rem;
    margin: 0 auto;

    @media (max-width: $tablet) {
      gap: 2rem;
      justify-content: space-around;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 4rem;
      max-width: 29.3rem;
    }
  }



}
