.stars {
  position: relative;
  padding: 7.5rem 0 6.5rem;

  &__left-decor {
    position: absolute;
    top: 16.5rem;
    left: -18.6rem;
    z-index: 3;
  }

  &__right-decor {
    position: absolute;
    top: 13.4rem;
    right: -12rem;
    z-index: 3;
  }

  &__header {
    position: relative;
    display: flex;
    z-index: 3;
  }

  &__title {
    flex-grow: 1;
  }

  &__nav {
    flex-grow: 0;
    max-width: 37.3rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    margin-right: 11.5rem;
    margin-top: 1rem;

    .swiper__nav {
      display: flex;
      gap: 1rem
    }
  }

  &__descr {
    margin: 0 0 2.3rem;
  }



}
